.theme1.title {
    color: #d9316f;
}
.theme1.sub-title, .theme1.sub-text {
    color: #fa7aa9;
}
.theme1.divider, footer.theme1 {
    background-color: #8F2D56;
}
.theme1.home-signup-btn, .theme1.home-login-btn, body.theme1 {
    background-color: #D81159;
}
.theme1.home-signup-btn:active, .theme1.home-login-btn:active {
    background-color: #ad0b45;
}
.theme1.signup > input, .theme1.login > input {
    border-color: #d81159;
    color: #4F0721;
}
footer.theme1 > .sub-text {
    color: #ffffff;
}
.theme1.chat-main-compose {
    border-top: solid 2px #D81159;
}
.theme1.chat-main-input {
    color: #840030;
}
.theme1.chat-main-input::placeholder {
    color: #ffc5da;
}
.theme1.chat-main-send {
    color: #840030;
}
.theme1.chat-message-name {
    color: #d81159;
}
.theme1.chat-message-icon {
    background-color: #ad0b45;
}
.theme1.chat-message-text {
    color: #840030;
    background-color: #f5f5f5;
}
.theme1.chat-bubble-me > .chat-message-text {
    background-color: #d92e6c;
    color: #fff;
}



.theme2.title {
    color: #3057c4;
}
.theme2.sub-title, .theme2.sub-text {
    color: #acc2ff;
}
.theme2.divider, footer.theme2 {
    background-color:   #283c76;
}
.theme2.home-signup-btn, .theme2.home-login-btn, body.theme2 {
    background-color: #3057c4;
}
.theme2.home-signup-btn:active, .theme2.home-login-btn:active {
    background-color: #143ba8;
}
.theme2.signup > input, .theme2.login > input {
    border-color: #3057c4;
    color: #0e2e89;
}
footer.theme2 > .sub-text {
    color: #ffffff;
}
.theme2.chat-main-compose {
    border-top: solid 2px #3057c4;
}
.theme2.chat-main-input {
    color: #0e2e89;
}
.theme2.chat-main-input::placeholder {
    color: #7e9ffa;
}
.theme2.chat-main-send {
    color: #0e2e89;
}
.theme2.chat-message-name {
    color: #3057c4;
}
.theme2.chat-message-icon {
    background-color: #0e2e89;
}
.theme2.chat-message-text {
    color: #0e2e89;
    background-color: #f5f5f5;
}
.theme2.chat-bubble-me > .chat-message-text {
    background-color: #3057c4;
    color: #fff;
}
