.page-container {
    height: 100vh;
    width: 100%;
}
.current-user-name {
    color: #fff;
}
.chat-main {
    height: 85vh;
    width: 50%;
    min-width: 600px;
    display: block;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    border: 3px #626262;
    border-bottom-style: solid;
}
.chat-main-cont {
    width: 100%;
    overflow-y: scroll;
    height: 75vh;
}
.chat-main-compose {
    bottom: 0px;
    width: 100%;
    display: block;
    height: 60px;
/*    border-top: solid 2px #D81159;*/
    position: absolute;
}
.chat-main-input {
    width: 80%;
    background-color: #ffffff;
    left: 0;
    position: absolute;
    font-size: 18px;
    padding: 17px 10px;
    border-radius: 10px;
/*    color: #840030;*/
}
/*.chat-main-input::placeholder {*/
/*    color: #ffc5da;*/
/*}*/
.chat-main-send {
    position: absolute;
    right: 0;
/*    color: #840030;*/
    font-size: 18px;
    width: 18%;
    padding: 17px 10px;
}


.chat-bubble {
    position: relative;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    animation: newChatMessage 400ms;
}
.chat-bubble-me {
    text-align: right;
    padding-left: 0;
    padding-right: 10px;
}
.chat-message-name {
    margin: 0 55px;
    font-size: 14px;
/*    color: #d81159;*/
}
.chat-message-icon {
    display: inline-block;
    padding: 5px;
    padding-top: 6px;
    width: 35px;
    box-sizing: border-box;
    height: 35px;
/*    background-color: #ad0b45;*/
    margin-right: 10px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.chat-bubble-me > .chat-message-icon {
    margin-left: 10px;
    margin-right: 0;
}
.chat-message-text {
    display: inline-block;
    padding: 7.5px 30px 7.5px 20px;
    margin: 0;
    max-width: 70%;
    border-radius: 15px;
}
@keyframes newChatMessage {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
@media only screen and (max-width: 1050px) {
    .chat-main {
        position: absolute;
        right: 7%;
    }
}








