@font-face {
    font-family: 'Gugi';
    src: url('Gugi-Regular.ttf') format('truetype');
}

html {
    margin: 0;
    height: 100%;
    font-family: 'Gugi', sans-serif;
    background-color: #ffffff;
}
input, select, textarea {
    font-family:inherit;
}
body {
    margin: 0;
    height: 100%;
    background-color: #FFFFFF;
    transition-duration: 1s;
}
button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background-color: transparent; 
}
button:focus {
    border: none;
    outline: none;
}
input, input:focus {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
}
.javascript-warning {
    display: block;
    position: absolute;
    z-index: 3;
    background-color: #434343;
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    box-sizing: border-box;
}
.javascript-warning > a:visited {
    color: #ffd6d6;
}
.noTouch {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.status-popup, .status-cover, .colour-picker {
    background-color: #ffffff;
    display: block;
    opacity: 0; 
    position: absolute;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0 15px;
    font-weight: bold;
    border: 4px #333;
    border-bottom-style: solid;
    z-index: 3;
}
.status-popup {
    font-family: Courier New;
    bottom: 50px;
    font-size: 16px;
    left: 30px;
    transition-duration: 1.3s;
}
.status-cover {
    left: 50%;
    bottom: 50%;
    width: 500px;
    display: none;
    font-size: 28px;
    text-align: center;
    margin-left: -250px;
    font-family: Courier New;
    transition-duration: 400ms;
}
.status-cover-active {
    display: block;
    opacity: 1;
}
.status-popup-type, .status-popup-text {
    display: inline-block;
}
.status-popup-type {
    background-color: #00c927;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin: 0 15px -7px 0;
}
.status-popup-active {
    opacity: 1;
}

.full-page-cover {
    width: 100%;
    height: 100%;
    background-color: #525252;
    opacity: 0;
    position: fixed;
    bottom: 0px;
    z-index: -1;
/*    display: none;*/
    left: 0px;
/*    transition-delay: 1000ms;*/
    transition-duration: 400ms;
    overflow: auto;
}
.full-page-cover-active {
    opacity: 0.7;
    z-index: 2;
}

.colour-picker {
    text-align: center;
    left: 50%;
    padding: 15px;
    width: 300px;
    margin-left: -150px;
    bottom: 50%;
    height: 100px;
    opacity: 1;
    display: none;
}
.colour1, .colour2 {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0 20px;
    background-color: red;
    border-radius: 10px;
}
.colour1 {
    background-color: #D81159;
}
.colour2 {
    background-color: #3057c4;
}


.title {
    font-size: 60px;
    font-weight: normal;
    margin: 20px 0 20px 0;
}
.sub-title {
    font-size: 24px;
    display: inline-block;
}
.text {
    
}
.sub-text {
    font-size: 20px;
    display: inline-block;
}
.nav-container {
    width: 200px;
    display: inline-block;
    position: absolute;
    top: 50px;
}
.nav-item {
    text-align: left;
    display: block;
    padding: 6px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 25px;
    width: 180px;
    margin: 20px auto;
}
.nav-item-icon-cont {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin: 0;
}
.nav-item-text {
    display: inline-block;
    margin: 0;
    width: 60%;
    font-size: 16px;
    text-align: right;
    top: 10px;
    position: relative;
}

.page-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 90vh;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.current-login {
    display: block;
    top: 0;
    right: 20px;
    position: absolute;
    text-align: right;
    cursor: pointer;
}
.current-user-pic {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 10px -10px 0;
}

.home-welcome {
    display: block;
    width: 100%;
    max-height: 675px;
    text-align: center;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    opacity: 1;
}
.home-welcome-hidden {
    max-height: 0px;
    opacity: 0;
}
.home-welcome > .title {
    opacity: 0;
    overflow: hidden;
    animation-delay: 500ms;

}
.home-welcome > .sub-title {
    opacity: 0;
    animation-delay: 1000ms;

}
.home-welcome > .divider {
    width: 0;
    height: 3px;
    display: block;
    border-radius: 2px;
    margin: 30px auto 40px auto;

    opacity: 0;
    animation-delay: 1.5s;
}

.home-signup-btn, .home-login-btn {
    border: none;
    font-size: 25px;
    color: #ffffff;
    margin: 0 auto;
    border-radius: 35px;
    transform: translate(0, 0px);
    transition-duration: 200ms;
}
.home-signup-btn {
    width: 270px;
    height: 60px;
    opacity: 0;
    animation-delay: 2s !important;
}
.home-login-btn {
    width: 200px;
    height: 50px;
    opacity: 1;
    transition-duration: 100ms;
}
.home-signup-btn:active, .home-login-btn:active {
    transform: translate(0, 3px);

/*    opacity: 0;*/
    animation-delay: 2s !important;
}
.home-signup-btn-hide {
    transition-duration: 500ms;
    font-size: 0px;
    width: 0px;
    height: 0px;
    padding: 0px;
/*    margin: 0px;*/
}

.home-signup, .home-login {
    max-height: 0px;
    opacity: 1;
    overflow: hidden;
    transition-delay: 1000ms;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
}
.signup-active {
    opacity: 1;
    max-height: 600px;
}
.signup {
    max-width: 600px;
    max-height: 700px;
    display: inline-block;
    padding: 30px 30px 130px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 0 -100px 0;
}
.signup > *, .login > * {
    text-align: center;
}
.signup > * {
    display: block;
    margin: 5px auto;
    transition-duration: 500ms;
}
.login > * {
    display: inline-block;
    margin: 8px auto;
}
.signup > p, .login > p {
    font-size: 14px;
    display: block;
    width: fit-content;
    background-color: #ffffff;
    position: relative;
    opacity: 1;
    margin-bottom: -12px;
    padding: 0 8px 0 8px;
}
.signup > .signup-glitch-fix {
    opacity: 0 !important;
}
.signup > input, .login > input {
    color: #4F0721;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    border-radius: 8px;
    width: 350px;
    font-size: 20px;
}
.signup-hide {
    transition-delay: 0ms;
    transition-duration: 500ms;
    overflow: hidden;
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;
/*    border-radius: 15px;*/
    padding: 0px;
    margin: 0px;
}
.signup-hide > input {
/*    display: none;*/
    transition-duration: 500ms;
    font-size: 0px;
    padding: 0px;
    border: none;
    width: 0px;
    height: 0px;
}
.signup-hide > p {
    font-size: 0px;
}
.home-login {
    position: fixed;
    z-index: 1;
    left: 50%;
    margin-left: -200px;
    transition-delay: 0ms;
    transition-duration: 500ms;
}
.home-login-active {
    max-height: 500px;  
}
.login {    
    width: 400px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px 10px 20px 10px;
}



footer {
    bottom: 0;
    padding: 2.5px;
    box-sizing: border-box;
    position: fixed;
    height: 30px;
    display: block;
    text-align: center;
    width: 100%;
}
footer > .sub-text {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}
footer > .material-icons {
    position: absolute;
    left: 30px;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
}


/* ~~~~~ ANIMATIONS ~~~~~ */    
/* @keyframes duration | timing-function | delay | 
iteration-count | direction | fill-mode | play-state | name */

.anim-fadein-pulse {
    -webkit-animation: fadeIn 1s ease-in 1 normal forwards, pulse 1s alternate infinite;
    -moz-animation: fadeIn 1s ease-in 1 normal forwards, pulse 1s alternate infinite;
    animation: fadeIn 1s ease-in 1 normal forwards, pulse 1s alternate infinite;
}
@keyframes pulse {
    0% { transform: scale(1)); }
    100% { transform: scale(1.03); }
}


.anim-signup-spin {
    -webkit-animation:signupSpin ease-in-out 1;    
    -moz-animation:signupSpin ease-in-out 1;
    animation: signupSpin 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 600ms;
    margin-bottom: -40px;
    max-width: 40px;
    max-height: 40px;
}
@-webkit-keyframes signupSpin {
    0% { 
        transform: rotate(0deg);
        width: 30px;
        height: 30px;
    }
    50% {
        width: 40px;
        height: 40px;
    }
    100% { 
        transform: rotate(360deg);
        height: 30px;
        width: 30px;
    }
}
@-moz-keyframes signupSpin {
    0% { 
        transform: rotate(0deg);
        width: 30px;
        height: 30px;
    }
    50% {
        width: 40px;
        height: 40px;
    }
    100% { 
        transform: rotate(360deg);
        height: 30px;
        width: 30px;
    }
}
@keyframes signupSpin {
    0% { 
        transform: rotate(0deg);
        width: 30px;
        height: 30px;
    }
    50% {
        width: 40px;
        height: 40px;
    }
    100% { 
        transform: rotate(360deg);
        height: 30px;
        width: 30px;
    }
}


.anim-fade-in {
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation: fadeIn 1s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}


.anim-divider-expand {
    -webkit-animation:expandOut 500ms ease-out;
    -moz-animation:expandOut 500ms ease-out;
    animation: expandOut 500ms ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes expandOut {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%
        opacity: 1;
    }
}
@-moz-keyframes expandOut {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%
        opacity: 1;
    }
}
@keyframes expandOut {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}
