<!DOCTYPE html>
<html lang="en" class="noTouch">
    <head>
        <title>About ~ Paw Pals</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/about.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/colours.css">
        <link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="scripts/jquery.js"></script>
        <script src="scripts/js.cookie.js"></script>
        <script src="scripts/script.js"></script>
        <script src="scripts/about.js"></script>
    </head>
    <body>
        <div class="status-popup"><div class="status-popup-type"></div><p class="status-popup-text">Error processing</p></div>
        <div class="full-page-cover"></div>
        <div class="status-cover"><div class="status-cover-type"></div><p class="status-cover-text">Error doing something</p></div>
        <div class="colour-picker">
            <div class="colour1"></div>
            <div class="colour2"></div>
        </div>

        <div class="page-container">
            %%nav%%
            
            <div class="current-login">
                <span class="current-user-pic">
                </span>
                <button class="sub-text current-user-name">%%name%%</button>
            </div>

            <div class="about-container">
                <h1 class="title">About Paw Pals</h1>
                <p class="sub-title">Paw Pals is an online chat service designed to help you find dog owners near you! As dog lovers ourselves, we found that it is often hard to properly socialise our pups with a good range of other dogs, from both friendly and outgoing labradors to more reserved and timid chihuahuas. <br><br>Socialisation is a huge aspect of any dog’s successful upbringing, and that’s why we think it’s key that every pet owner has the chance to meet other like-minded people and get their dogs interacting with each other! <br><br>This is also a great chance for you yourself to meet dog owners in your neighbourhood and build a happy, healthy and thriving community of friends. If you’re looking to make great relationships then sign up to Paw Pals today!</p>
                
                <div class="about-test-container">
                    <p class="about-test-text">Try our custom notifications</p>
                    <input class="about-test" type="text" placeholder="Type and hit enter...">
                </div>
            </div>
            
        </div>

        <footer class="site-footer">
            <i class="material-icons">color_lens</i>
            <p class="sub-text">© &nbsp;&nbsp;University of Bristol &nbsp;&nbsp;&nbsp;Iwan and Eleanor &nbsp;&nbsp;&nbsp;2018</p>
        </footer>
    </body>
</html>
