<div class="nav-container">
    <a href="/me">
        <div class="nav-item">
            <div class="nav-item-icon-cont">
                <img src="media/.png" class="nav-item-icon">
            </div>
            <p class="nav-item-text">%%name%%</p>
        </div>
    </a>
    <a href="/dashboard">
        <div class="nav-item">
            <div class="nav-item-icon-cont">
                <img src="media/.png" class="nav-item-icon">
            </div>
            <p class="nav-item-text">Chat Wall</p>
        </div>
    </a>
    <a href="/about">
        <div class="nav-item">
            <div class="nav-item-icon-cont">
                <img src="media/.png" class="nav-item-icon">
            </div>
            <p class="nav-item-text">About</p>
        </div>
    </a>
    <a href="/API-logout">
        <div class="nav-item">
            <div class="nav-item-icon-cont">
                <img src="media/.png" class="nav-item-icon">
            </div>
            <p class="nav-item-text">Log Out</p>
        </div>
    </a>
</div>